/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.tablet-device a:active,
.flex-container a:focus,
.flexslider a:focus.
.tablet-device a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider, .tablet-device{margin: 0; padding: 0;}
.flexslider .slides, .tablet-device .slides{margin: 0; padding: 0;}
.flexslider .slides > li, .tablet-device .slides > li {display: none; -webkit-backface-visibility: hidden;margin: 0; padding: 0;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img, .tablet-device .slides img  {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider, .tablet-device{margin:0; background: none; position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides, .tablet-device .slides {zoom: 1;}

.carousel li {margin-right: 5px}

.tablet-device h4{
	margin-bottom:10px;
}

.tablet-device .btn-horizontal{
	margin:20px 0 40px 0;
}

.flexslider.fullwidth{
	padding-top:60px;
}
	
.flex-caption{
	position:absolute;
	width:60%;
	top:10%;
	left:5%;
	z-index:99;
	color:#fff;
}

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 30px; height: 30px; padding:0;margin:-15px 0 0 0; display: block;position: absolute; top: 50%;z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 1; -webkit-transition: all .3s ease;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;border:1px solid #cccccc; border-radius:50%;}
.flex-direction-nav .flex-next {background:url(../img/bg_direction_nav_next.png) no-repeat center center; right:15px;opacity: 0.4;}
.flex-direction-nav .flex-prev {background:url(../img/bg_direction_nav_prev.png) no-repeat center center; left:15px;opacity: 0.4;}
.flex-direction-nav .flex-next:hover, .flex-direction-nav .flex-prev:hover {opacity: 1;border:1px solid #7f7f7f;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {position: absolute; bottom: -40px; left:0; text-align: left;}
.flex-control-nav li {margin: 0 2px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 14px; height: 14px; display: block; background-image:url(../img/flex-control-nav.png);background-repeat: no-repeat; background-position: -14px 0; cursor: pointer; text-indent: -9999px; box-shadow:none;  -webkit-transition: none;-moz-transition: none;-o-transition: none;-ms-transition: none;transition: none;}
.flex-control-paging li a:hover { background-position:0 0; }
.flex-control-paging li a.flex-active { background-position:0 0; cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
@media (min-width: 1200px) {
	.flex-caption{
		top:20%;
	}
}
@media (min-width: 768px) and (max-width: 990px) {
	#home .flexslider.fullwidth{
		margin-bottom:0;
	}
	#home .flexslider.flex-caption{
		font-size:12px;
		line-height:20px;
		width:80%;
	}
	#home .flex-caption h3{
		font-size:32px;
		line-height:46px;
	}
}

@media (max-width: 767px) {
	#home .flexslider.fullwidth{
		margin-bottom:0;
	}
	#home .flex-caption{
		display:none;
	}
}