$open-sans-family: 'Open Sans', sans-serif;

@font-face {
    font-family: "casper-icons";
    src:url("../fonts/casper-icons.eot");
    src:url("../fonts/casper-icons.eot?#iefix") format("embedded-opentype"),
        url("../fonts/casper-icons.woff") format("woff"),
        url("../fonts/casper-icons.ttf") format("truetype"),
        url("../fonts/casper-icons.svg#icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-size: 3.6rem;
    letter-spacing: -1px;
}

h1, h2, h3, h4, h5, h6 {
    @include font-feature-setting-4('dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1);
    color: #2E2E2E;
    line-height: 1.15em;
    margin: 0 0 0.4em 0;
    font-family: $open-sans-family;
}

h1 {
    font-size: 2em;
    letter-spacing: -2px;
    text-indent: -3px;
    margin: 0.67em 0;
}

a {
    color: #4A4A4A;
    @include ease-in-transition(0.3s);
}

a.btn {
    font-family: $open-sans-family;
    text-decoration: none;
}

.headline {
    text-align: center;
    color: $grey-text-color;
    padding-bottom: 40px;
    border-bottom: 1px solid #919191;
    margin-bottom: 40px;
}

.wrapper {
    p {
        text-align: center;  
    }
}