/* Authored Dependencies */
html {
  height: 100%;
  max-height: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  height: 100%;
  max-height: 100%;
  font-family: "Merriweather", serif;
  letter-spacing: 0.01rem;
  font-size: 1.8rem;
  line-height: 1.75em;
  color: #3a4145;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1; }

.wrapper {
  min-height: 100%; }

.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none; }

@font-face {
  font-family: "casper-icons";
  src: url("../fonts/casper-icons.eot");
  src: url("../fonts/casper-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/casper-icons.woff") format("woff"), url("../fonts/casper-icons.ttf") format("truetype"), url("../fonts/casper-icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal; }
h2 {
  font-size: 3.6rem;
  letter-spacing: -1px; }

h1, h2, h3, h4, h5, h6 {
  -webkit-font-feature-settings: "dlig" 1, "liga" 1, "lnum" 1, "kern" 1;
  -moz-font-feature-settings: "dlig" 1, "liga" 1, "lnum" 1, "kern" 1;
  -o-font-feature-settings: "dlig" 1, "liga" 1, "lnum" 1, "kern" 1;
  color: #2E2E2E;
  line-height: 1.15em;
  margin: 0 0 0.4em 0;
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  text-indent: -3px;
  margin: 0.67em 0; }

a {
  color: #4A4A4A;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

a.btn {
  font-family: "Open Sans", sans-serif;
  text-decoration: none; }

.headline {
  text-align: center;
  color: #3a4145;
  padding-bottom: 40px;
  border-bottom: 1px solid #919191;
  margin-bottom: 40px; }
  @media screen and (max-width: 480px) {
    .headline {
      font-size: 50px !important; } }

.wrapper p {
  text-align: center; }

/* Components */
.btn {
  background: #303030;
  border-radius: 2px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 25px 10px 25px;
  color: #fff;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  @media screen and (min-width: 480px) {
    .btn {
      display: inline-block; } }

.btn-link {
  font-weight: 700; }

.btn:focus {
  outline: none;
  outline: none;
  outline-offset: -2px;
  color: #fff; }

.btn:hover,
.btn:focus {
  color: #fff;
  text-decoration: none; }

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn:hover {
  background-color: #474747; }

/* Primary */
.btn-primary:focus,
.btn-primary:active,
.btn-primary {
  background-color: #ed5153;
  color: #fff; }

.btn-lg {
  font-size: 18px;
  line-height: 24px;
  padding: 15px 30px 15px 30px; }

/* Sections */
.cover {
  background: #222 no-repeat center center;
  background-image: url("../img/cover.jpg");
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: cover;
  overflow: hidden; }
  .cover .inner {
    position: relative;
    margin: 0 auto;
    width: auto;
    padding-left: 5px;
    padding-right: 5px; }
    @media screen and (min-width: 480px) {
      .cover .inner {
        width: 80%;
        padding-left: inherit;
        padding-right: inherit; } }

.vertical {
  display: table-cell;
  vertical-align: middle; }

.page-title, .headline {
  -webkit-animation: fade-in-down 0.6s;
  animation: fade-in-down 0.6s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 10px 0 10px 0;
  letter-spacing: -1px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 62px;
  font-weight: normal;
  height: 62px;
  line-height: 62px; }
  @media screen and (max-width: 480px) {
    .page-title, .headline {
      font-size: 50px; } }

.headline {
  color: #3a4145;
  height: inherit; }

.page-description {
  -webkit-animation: fade-in-down 0.9s;
  animation: fade-in-down 0.9s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  margin: 0;
  font-size: 2rem;
  line-height: 1.5em;
  font-weight: 400;
  font-family: "Merriweather", serif;
  letter-spacing: 0.01rem;
  color: rgba(255, 255, 255, 0.8); }

.scroll-down {
  display: block;
  position: absolute;
  z-index: 100;
  bottom: 45px;
  left: 50%;
  margin-left: -16px;
  width: 34px;
  height: 34px;
  font-size: 34px;
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-animation: bounce 4s 2s infinite;
  animation: bounce 4s 2s infinite; }

.icon-arrow-left:before {
  content: "\f605"; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "casper-icons", "Open Sans", sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-decoration: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.scroll-down:hover {
  color: #fff;
  -webkit-animation: none;
  animation: none; }

.section {
  padding-top: 60px;
  padding-bottom: 60px; }
  .section .content {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px; }
    @media screen and (min-width: 430px) {
      .section .content {
        width: auto; } }
    @media screen and (min-width: 750px) {
      .section .content {
        width: 700px; } }
    @media screen and (min-width: 1050px) {
      .section .content {
        width: 1000px; } }

.alternate-section {
  background-color: #f7f7f7; }

@media screen and (min-width: 430px) {
  .column {
    display: block;
    float: none;
    width: 100%;
    text-align: left; }
    .column .fa-stack {
      float: left; } }
@media screen and (max-width: 430px) {
  .column {
    text-align: center; } }
@media screen and (max-width: 430px) {
  .column .fa-stack {
    display: none; } }
@media screen and (min-width: 750px) {
  .column {
    display: inline-block;
    float: left;
    width: 233px;
    text-align: center; }
    .column .fa-stack {
      float: none; } }
@media screen and (min-width: 1050px) {
  .column {
    width: 333px; } }
.column h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px; }
  @media screen and (min-width: 750px) {
    .column h2 {
      margin: 0 0 20px 0; } }
.column p {
  margin-left: 12px;
  margin-right: 12px;
  color: #4d4d4d;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  height: 96px;
  line-height: 24px;
  text-align: justify; }
  .column p a:hover {
    color: #ed5153; }
  @media screen and (max-width: 430px) {
    .column p {
      margin-left: 0px;
      margin-right: 0px; } }

.main-footer {
  margin-top: 60px;
  min-height: 100px;
  background: #1e1e1e;
  color: #4e4e4e;
  font-size: 12px;
  line-height: 18px;
  padding: 20px 0 20px 0;
  text-align: center;
  font-family: "Open Sans", sans-serif; }

.main-footer a {
  color: #ed5153;
  text-decoration: none; }

.main-footer a:hover {
  text-decoration: underline; }

.main-footer .icons {
  font-size: 70%; }

.main-footer .icons a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #4e4e4e; }

.main-footer .icons a:hover {
  color: #ed5153;
  text-decoration: none; }

/* Animations */
/* Used to fade in title/desc on the home page */
@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
/* Used to bounce .scroll-down on home page */
@-webkit-keyframes bounce {
  0%, 10%, 25%, 40%, 50% {
    -webkit-transform: translateY(0) rotate(-90deg);
    transform: translateY(0) rotate(-90deg); }

  20% {
    -webkit-transform: translateY(-10px) rotate(-90deg);
    transform: translateY(-10px) rotate(-90deg); }

  30% {
    -webkit-transform: translateY(-5px) rotate(-90deg);
    transform: translateY(-5px) rotate(-90deg); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0) rotate(-90deg);
    transform: translateY(0) rotate(-90deg); }

  40% {
    -webkit-transform: translateY(-10px) rotate(-90deg);
    transform: translateY(-10px) rotate(-90deg); }

  60% {
    -webkit-transform: translateY(-5px) rotate(-90deg);
    transform: translateY(-5px) rotate(-90deg); } }
